body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background:inherit;
  background-color:rgba(163, 214, 253, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:375px;
  height:62px;
  display:flex;
  opacity:0.21;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:799px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:375px;
  height:425px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:375px;
  height:425px;
}
#u40_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:425px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:36px;
  width:96px;
  height:25px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:70px;
  height:70px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:81px;
  width:70px;
  height:70px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:81px;
  width:70px;
  height:70px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:173px;
  width:70px;
  height:70px;
  display:flex;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:173px;
  width:70px;
  height:70px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:173px;
  width:70px;
  height:70px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:285px;
  width:96px;
  height:25px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u48 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:328px;
  width:338px;
  height:371px;
  display:flex;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:447px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:710px;
  width:300px;
  height:447px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1176px;
  width:300px;
  height:278px;
  display:flex;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:30px;
}
#u51 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:750px;
  width:377px;
  height:1px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:18px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:9px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:18px;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:206px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:206px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:53px;
  height:53px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:220px;
  width:31px;
  height:31px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(243, 39, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:279px;
  width:118px;
  height:36px;
  display:flex;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(53, 190, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:279px;
  width:118px;
  height:36px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold Oblique', 'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:oblique;
  font-size:19px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:286px;
  width:26px;
  height:23px;
  display:flex;
  font-family:'Axure Handwriting Bold Oblique', 'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:oblique;
  font-size:19px;
}
#u59 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u28.a {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:817px;
}
#u29.a {
}
#u29_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background:inherit;
  background-color:rgba(163, 214, 253, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29.a {
}
#u29_text.a {
}
#u29 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u30.a {
}
#u30_img.a {
}
#u30.a {
}
#u30_text.a {
}
#u30 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u31.a {
}
#u31_img.a {
}
#u31.a {
}
#u31_text.a {
}
#u31 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u32.a {
}
#u32_img.a {
}
#u32.a {
}
#u32_text.a {
}
#u32 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u33.a {
}
#u33_img.a {
}
#u33.a {
}
#u33_text.a {
}
#u33 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u34.a {
}
#u34_img.a {
}
#u34.a {
}
#u34_text.a {
}
#u34 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u35.a {
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u35.a {
}
#u35_text.a {
}
#u35 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u36.a {
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u36.a {
}
#u36_text.a {
}
#u36 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u37.a {
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u37.a {
}
#u37_text.a {
}
#u37 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u38.a {
}
#u38_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u38.a {
}
#u38_text.a {
}
#u38 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u39.a {
}
#u39_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39.a {
}
#u39_text.a {
}
#u39 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u40.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:375px;
  height:425px;
}
#u41.a {
}
#u41_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u41.a {
}
#u41_text.a {
}
#u41 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u42.a {
}
#u42_img.a {
}
#u42.a {
}
#u42_text.a {
}
#u42 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u43.a {
}
#u43_img.a {
}
#u43.a {
}
#u43_text.a {
}
#u43 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u44.a {
}
#u44_img.a {
}
#u44.a {
}
#u44_text.a {
}
#u44 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u45.a {
}
#u45_img.a {
}
#u45.a {
}
#u45_text.a {
}
#u45 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u46.a {
}
#u46_img.a {
}
#u46.a {
}
#u46_text.a {
}
#u46 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u47.a {
}
#u47_img.a {
}
#u47.a {
}
#u47_text.a {
}
#u47 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u48.a {
}
#u48_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u48.a {
}
#u48_text.a {
}
#u48 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u49.a {
}
#u49_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49.a {
}
#u49_text.a {
}
#u49 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u50.a {
}
#u50_img.a {
}
#u50.a {
}
#u50_text.a {
}
#u50 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u51.a {
}
#u51_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:30px;
}
#u51.a {
}
#u51_text.a {
}
#u51 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u40_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a {
}
#u52_img.a {
}
#u52.a {
}
#u52_text.a {
}
#u52 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u53.a {
}
#u53_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:18px;
}
#u53.a {
}
#u53_text.a {
}
#u53 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u54.a {
}
#u54_img.a {
}
#u54.a {
}
#u54_text.a {
}
#u54 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u55.a {
}
#u55_img.a {
}
#u55.a {
}
#u55_text.a {
}
#u55 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u56.a {
}
#u56_img.a {
}
#u56.a {
}
#u56_text.a {
}
#u56 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u57.a {
}
#u57_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(243, 39, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57.a {
}
#u57_text.a {
}
#u57 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u58.a {
}
#u58_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(53, 190, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58.a {
}
#u58_text.a {
}
#u58 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u59.a {
}
#u59_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold Oblique', 'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:oblique;
  font-size:19px;
}
#u59.a {
}
#u59_text.a {
}
#u59 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
