body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background:inherit;
  background-color:rgba(163, 214, 253, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:375px;
  height:62px;
  display:flex;
  opacity:0.21;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:750px;
  width:49px;
  height:49px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:799px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:799px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:750px;
  width:377px;
  height:1px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:376px;
  height:751px;
}
#u263_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:751px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u264_div.png');
  background-repeat:no-repeat;
  background-size:305px 492px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:92px;
  width:305px;
  height:493px;
  display:flex;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u265_div.png');
  background-repeat:no-repeat;
  background-size:310px 501px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:95px;
  width:310px;
  height:502px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:485px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u266_div.png');
  background-repeat:no-repeat;
  background-size:299px 484px;
  background-position: 0.5px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:100px;
  width:300px;
  height:485px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:492px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u267_div.png');
  background-repeat:no-repeat;
  background-size:304px 491px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:93px;
  width:304px;
  height:492px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:592px;
  width:164px;
  height:41px;
  display:flex;
  font-family:'演示夏行楷';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:rgba(133, 174, 210, 0.788235294117647);
}
#u268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:531px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u269_div.png');
  background-repeat:no-repeat;
  background-size:328px 531px;
  background-position: -4.5px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:73px;
  width:319px;
  height:531px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:592px;
  width:164px;
  height:41px;
  display:flex;
  font-family:'演示夏行楷';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:rgba(133, 174, 210, 0.788235294117647);
}
#u270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:592px;
  width:164px;
  height:41px;
  display:flex;
  font-family:'演示夏行楷';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:rgba(133, 174, 210, 0.788235294117647);
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:592px;
  width:164px;
  height:41px;
  display:flex;
  font-family:'演示夏行楷';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:rgba(133, 174, 210, 0.788235294117647);
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:592px;
  width:164px;
  height:41px;
  display:flex;
  font-family:'演示夏行楷';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:rgba(133, 174, 210, 0.788235294117647);
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:159px;
  width:56px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u251.a {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:817px;
}
#u252.a {
}
#u252_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background:inherit;
  background-color:rgba(163, 214, 253, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252.a {
}
#u252_text.a {
}
#u252 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u253.a {
}
#u253_img.a {
}
#u253.a {
}
#u253_text.a {
}
#u253 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u254.a {
}
#u254_img.a {
}
#u254.a {
}
#u254_text.a {
}
#u254 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u255.a {
}
#u255_img.a {
}
#u255.a {
}
#u255_text.a {
}
#u255 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u256.a {
}
#u256_img.a {
}
#u256.a {
}
#u256_text.a {
}
#u256 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u257.a {
}
#u257_img.a {
}
#u257.a {
}
#u257_text.a {
}
#u257 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u258.a {
}
#u258_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u258.a {
}
#u258_text.a {
}
#u258 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u259.a {
}
#u259_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u259.a {
}
#u259_text.a {
}
#u259 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u260.a {
}
#u260_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u260.a {
}
#u260_text.a {
}
#u260 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u261.a {
}
#u261_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
}
#u261.a {
}
#u261_text.a {
}
#u261 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u262.a {
}
#u262_img.a {
}
#u262.a {
}
#u262_text.a {
}
#u262 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u263.a {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:376px;
  height:751px;
}
#u264.a {
}
#u264_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u264_div.png');
  background-repeat:no-repeat;
  background-size:305px 492px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u264.a {
}
#u264_text.a {
}
#u264 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u265.a {
}
#u265_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u265_div.png');
  background-repeat:no-repeat;
  background-size:310px 501px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u265.a {
}
#u265_text.a {
}
#u265 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u266.a {
}
#u266_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:485px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u266_div.png');
  background-repeat:no-repeat;
  background-size:299px 484px;
  background-position: 0.5px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u266.a {
}
#u266_text.a {
}
#u266 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u267.a {
}
#u267_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:492px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u267_div.png');
  background-repeat:no-repeat;
  background-size:304px 491px;
  background-position: 0.0px 0.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u267.a {
}
#u267_text.a {
}
#u267 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u268.a {
}
#u268_img.a {
}
#u268.a {
}
#u268_text.a {
}
#u268 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u269.a {
}
#u269_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:531px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/♥/u269_div.png');
  background-repeat:no-repeat;
  background-size:328px 531px;
  background-position: -4.5px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u269.a {
}
#u269_text.a {
}
#u269 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u270.a {
}
#u270_img.a {
}
#u270.a {
}
#u270_text.a {
}
#u270 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u271.a {
}
#u271_img.a {
}
#u271.a {
}
#u271_text.a {
}
#u271 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u272.a {
}
#u272_img.a {
}
#u272.a {
}
#u272_text.a {
}
#u272 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u273.a {
}
#u273_img.a {
}
#u273.a {
}
#u273_text.a {
}
#u273 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u274.a {
}
#u263_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
